@use '../util/' as *;

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    display: flex;

    align-items: center;
    justify-content: center;
    padding: rem(5);
    margin-bottom: rem(20);
    background: rgb(255, 255, 255);
    border: rem(1) solid var(--bg-drakPurple);
    border-radius: rem(50);
    box-shadow: rem(0) rem(10) rem(15) rgba(0, 0, 0, 0.1);
    li {
      color: var(--bg-drakPurple);
      list-style: none;
      line-height: rem(24);
      text-align: center;
      font-size: rem(16);
      font-weight: 500;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s ease;
    }
    li.numb {
      height: rem(24);
      width: rem(24);
      margin: 0 rem(5);
      border-radius: 50%;
    }

    li.dots {
      margin: 0 rem(5);
      font-size: rem(16);
      cursor: default;
    }
    li.btn {
      display: flex;
      align-items: center;
      padding: 0 rem(5);
    }
    li.prev {
      border-radius: rem(25) rem(5) rem(5) rem(25);
    }
    li.next {
      border-radius: rem(5) rem(25) rem(25) rem(5);
    }
    li.active,
    li.numb:hover,
    li:first-child:hover,
    li:last-child:hover {
      color: #fff;
      background: var(--bg-drakPurple);
    }
  }
}
