@use '../util/' as *;

.pagination {
  padding: rem(20) rem(15);
  font-size: rem(16);
  &__list {
    display: flex;
    max-width: rem(400);
    margin: auto;
    padding: rem(5) rem(2);
    border: rem(1) solid var(--border-gray);
    border-radius: rem(50);
    line-height: rem(24);
    color: var(--text-darkGray);
    li {
      display: flex;
      justify-content: center;
    }
    li:not(:last-child) {
      margin-right: rem(10);
    }
    li:hover {
      cursor: pointer;
    }
  }
  &__icon {
    transition: all 0.1s ease-in;
  }
  &__icon:hover {
    transform: scale(1.2, 1.2);
    color: var(--text);
  }
  &__numb {
    min-width: rem(24);
    transition: all 0.02s ease-in;
  }
  &__numb:hover,
  li.active {
    background: var(--text);
    border-radius: 50%;
    color: var(--white);
  }
  &__dots {
  }
}
