:root {
  --text: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --text-darkGray: rgba(121, 121, 121, 1);
  --text-gray: rgba(129, 138, 145, 1);
  --border-gray: rgba(185, 185, 185, 1);
  --text-purple: rgba(106, 51, 248, 1);
  --bg-drakPurple: rgba(48, 30, 95, 1);
  --bg-gray: rgba(248, 248, 248, 1);
  --text-red: rgba(199, 36, 36, 1);
}
